<p style="color: green"><%= notice %></p>

<h1>Posts</h1>
<%= link_to "New post", new_post_path, data: {turbo_frame: "modal"} %>


  <div id="posts">
    <% @posts.each do |post| %>
      <%= turbo_frame_tag post do %>
        <%= render post %>
        <p>
          <%= link_to "edit this post", edit_post_path(post) %>
        </p>
        <p>
          <%= link_to "Show this post", post %>
        </p>
      <% end %>
    <% end %>
  </div>

